body { 
  margin: 0;
}
h1,
h2,
p {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* Style for the navbar */
.navbar {
  background-color: #000000a6;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Style for the logo */
.navbar .logo {
  color:yellow;
  padding-left: 4rem;
  float: left;
  font-weight: 300;
  font-size: 2em;
  margin: 10px;
  font-family: "Rajdhani", sans-serif;
}

/* Style for the anchor tags */
.navbar .nav-links {
  padding-right: 4rem;
  float: right;
  margin: 10px;
}

/* Style for the anchor tag links */
.navbar .nav-links a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Rajdhani", sans-serif;
}

/* Style for the anchor tag links on hover */
.navbar .nav-links a:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: red;
}
@media screen and (min-width: 700px){
  .navbar .nav-links .icon{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar a:not(:last-child)
   {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .navbar.responsive {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .navbar .logo{
    text-align: center;
    padding: 0px;
  }
  .navbar .nav-links{
    padding: 0px;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

/* Introduction */
.Intro_container {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://digitalhub.fifa.com/transform/a04d1886-047f-4fb9-a620-57c43af283a4/1444254771?io=transform:fill,height:868,width:1536&quality=100');
}

.inner_container {
  background-color: #00000075;
  /* padding: 23rem 15rem 23rem 15rem; */
  padding: 180px;
}

.inner_container h1 {
  font-family: "Viga", sans-serif;
  font-size: 4rem;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.inner_container h2 {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 350;
  font-family: "Viga", sans-serif;
}
.inner_container p {
  font-size: 1rem;
  color: white;
  font-size: 2rem;
  font-family: "Viga", sans-serif;
}

.inner_container a {
  margin-top: 1rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Rajdhani", sans-serif;
}
.inner_container a:hover {
  background-color: black;
  border-radius: 1rem;
  color: red;
}

@media screen and (max-width: 700px){
  .Intro_container{
    max-width: 100%;
    object-fit: unset;
  }
  .inner_container{
    max-width: 100%;
    padding: 100px;
  }
  .Intro_container .inner_container h1{
    font-size: calc(100% + 2vw);
    }
  .Intro_container .inner_container h2{
      font-size: calc(100% + 1.6vw);
    }
  .Intro_container .inner_container p{
        font-size: calc(100% + 1.3vw);
    }
}

/* skills and positions */
.skills_container {
  background-color: white;
  text-align: center;
  color: black;
  height: fit-content;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.inner_skill_box a {
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Rajdhani", sans-serif;
}
.inner_skill_box a:hover {
  border-radius: 1rem;
  background-color: red;
  color: white;
}
.texts {
  padding: 15px;
}
.texts hr{
  width: 80%
}
.texts h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Viga", sans-serif;
}
.texts p {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Rajdhani", sans-serif;
}


/* card */
.card-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px){
  .card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .card-content{
    max-width: 89%;
  }
}

.card {
  width: 20rem;
  height: 18rem;
  margin: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-content {
  position: absolute;
  bottom: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-content h2 {
  font-size: 2.0rem;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: "Viga", sans-serif;
}

.card-content p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 50;
  font-family: "Viga", sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card:hover img {
  opacity: 0.6;
}

.card:hover .card-content {
  opacity: 1;
}

/* training */
.Training_container {
  background-color: white;
  height: fit-content;
}
.Train_text_td {
  width: 60%;
}

.train_img img {
  width: 50rem;
}
.Train_text {
  padding: 7rem 10rem 7rem 0rem;
}
.Train_text hr {
  width: 50%;
  float: left;
}
.Train_text h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 50;
  font-family: "Viga", sans-serif;
}
.Train_text p {
  font-weight: 20;
  font-size: 1.5rem;
  font-family: "Rajdhani", sans-serif;
}
.Train_text a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Rajdhani", sans-serif;
}

.Train_text a:hover {
  background-color: red;
  color: white;
  border-radius: 1rem;
}
@media screen and (max-width: 1000px){
  .Training_container .train_img img{
    object-fit: unset;
  }
  tr { display: block; float: left; }
  th, td { 
    display: block; 
  }
  td{
    text-align: center;
  }
  .Train_text_td{
    width: 100vw;
  }
  .Train_text{
    padding: 20px;
  }
}

/* resources container */
.resources_container {
  background-color: black;
  height: fit-content;
}
.resource_inner_box {
  padding: 2rem;
}
.resource_texts {
  color: white;
  text-align: right;
}
.resource_texts h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Viga", sans-serif;
}
.resource_texts p {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Rajdhani", sans-serif;
}

.resource_texts a {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Rajdhani", sans-serif;
}
.resource_texts a:hover {
  background-color: red;
  color: white;
  border-radius: 1rem;
}
@media screen and (max-width: 1000px){
  /* table 
{
    table-layout:fixed;
    width:100%;
} */
  .carousel-slide{
    object-fit: unset;
  }
  tr { 
    display: block; float: left;
  }
  th, td { 
    display: block; 
  }
  td{
    text-align: center;
    /* padding: 20px; */
  }
  .resource_texts{
    width: 100%;
    text-align: center;
  }
  .Train_text_td{
    width: 100%;
    display: table;
    overflow-x: wrap;
  }
}
@media  screen and (max-width: 720px) {
  .Train_text_td{
    width: 87%;
  }
  .resource_texts p{
    font-size: 3.5vw;
  } 
}
@media  screen and (max-width: 680px) {
  .Train_text_td{
    width: 87%;
  }
  .carousel-container{
    max-width: 77%;
  }
  .resource_texts h1{
    font-size: 2.8vw;
  }
  .resource_texts p{
    font-size: 2.3vw;
  } 
  .carousel-slide {
    flex: 0 0 80%;
  }
}

/* Carousel container styles */
/* Carousel container styles */
.carousel-container {
  width: 40rem;
  margin: 0 auto;
  overflow: hidden;
}

/* Carousel wrapper styles */
.carousel-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

/* Carousel slide styles */
.carousel-slide {
  flex: 0 0 40rem;
}

/* Image styles */
.carousel-slide img {
  width: 100%;
}
/* footer */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* Footer link styles */
.footer-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Footer link hover styles */
.footer-container a:hover {
  text-decoration: underline;
}

/* Footer separator styles */
.footer-container::before,
.footer-container::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #fff;
  width: 50%;
  margin: 10px auto;
}

/* Footer attribution styles */
.footer-attribution {
  margin-top: 10px;
  font-size: 20px;
}
.footer-attribution a img {
  height: 4vw;
}
@media screen and (max-width: 700px) {
  .footer-container p{
    font-size: calc(100%+1.6vw);
  }
  .footer-attribution a img{
    height: 4vw;
  }
  .footer-attribution{
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 450px){
  .footer-attribution{
    font-size: 3.5vw;
  }
  .footer-attribution a img{
    height: 7vw;
  }
}