body{
    margin: 0;
}

h1,
h2,
p {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* Style for the navbar */
.navbar {
  background-color: #000000a6;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Style for the logo */
.navbar .logo {
  color:yellow;
  padding-left: 4rem;
  float: left;
  font-size: 2em;
  margin: 10px;
  font-family: "Rajdhani", sans-serif;
}

/* Style for the anchor tags */
.navbar .nav-links {
  padding-right: 4rem;
  float: right;
  margin: 10px;
}

/* Style for the anchor tag links */
.navbar .nav-links a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Rajdhani", sans-serif;
}

/* Style for the anchor tag links on hover */
.navbar .nav-links a:hover {
  background-color: #ffffff;
  border-radius: 1rem;
  color: red;
}

/* title container */
.title_container {
background-image: url('https://res.cloudinary.com/southampton//image/upload/f_auto,w_1650,h_660,c_fill,g_auto,q_90/AY5I7611_38e9e6dd-8dae-488e-aa33-32b46e2f0e65_ws9onz.jpg');
background-repeat: no-repeat;
background-size: cover;
animation: change 10s infinite ease-in-out ;
}

@keyframes change{
  0%{
    background-image:url('https://image.cnbcfm.com/api/v1/image/106869987-1618795805885-gettyimages-1312630032-sb3_5306_2021041510407047.jpeg?v=1618795885');
  }
  25%{
    background-image:url('https://contents.mediadecathlon.com/p1793862/k$895b41b5f0bc6adadc415e9f9aa4f68a/1920x0/2736pt1925/5472xcr3420/default.jpg?format=auto');
    
  }
  50%{
    background-image:url('https://d1e00ek4ebabms.cloudfront.net/production/8d90be5f-3fa6-450d-99ad-b71459b326ac.jpg');
    
  }
  75%{
    background-image:url('https://i.guim.co.uk/img/media/cd6efbd1bade44704b0b4f1d7a2b72e3a635a823/0_247_5568_3341/master/5568.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=1dc4191028d3f1147475a2ea0acc8d6a');
    
  }
  100%{
    background-image:url('https://media.gq-magazine.co.uk/photos/5d13a4d5003d756ecdae71db/master/pass/lionel-messi-gq-14feb18_getty_b.jpg');

  }
}

.title_text{
    background-color: rgba(0, 0, 0, 0.54);
    padding: 5rem;
    text-align: center;
    color: white;
    padding:18rem 18rem 18rem 18rem;
    
}
.title_text h1{
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Viga', sans-serif;
    padding-bottom: 1rem;
}
.title_text p{
    font-size: 1.2rem;
    font-family: "Rajdhani", sans-serif;
}

/* skill box */
.skills_box {
    /* padding: 0rem 10rem 0rem 10rem; */
}
/* card grids */

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .card hr{
    width: 50%;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Viga', sans-serif;
  }
  
  .card p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    font-family: "Rajdhani", sans-serif;
  }
  
  .card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition:  0.6s;
    font-family: "Rajdhani", sans-serif;
  }
  
  .card a:hover {
    background-color: #ff0000;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }



  
/* footer */
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Footer link styles */
  .footer-container a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Footer link hover styles */
  .footer-container a:hover {
    text-decoration: underline;
  }
  
  /* Footer separator styles */
  .footer-container::before,
  .footer-container::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    width: 50%;
    margin: 10px auto;
  }
  
  /* Footer attribution styles */
  .footer-attribution {
    margin-top: 10px;
    font-size: 12px;
  }
  .footer-attribution a img{
    height: 3rem;
  }






  .video-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  